/* ------ GENRAL ------  */

html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to right, #fc00ff, #00dbde);
    color: white;
}

a{
    color: inherit;
    text-decoration: inherit;
}

p{
    color: #000;
    line-height: 1.8;
}

.container{
    margin: 30px 150px;
}


/* ------ HEADER ------  */

header{
    background-color: #0A111A;
    padding: 25px 70px;
}
.logo{
    font-weight: bolder;
    font-size: 35px;
}

/* ------ HOME ------  */

.articles-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.article{
    width: 30%;
    padding: 32px 40px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(188, 241, 241);
    color: #000;
    margin:10px;
    border-radius: 8px;
}
.article:hover{
    background-color: #1D2630;
    color:#fff;
    border-radius: 7px;
}
.article:hover p{
    color: #fff;
}
.article h2{
    margin-top: 0;
}

/* ------ POST ------  */

.post-container{
    margin-top: 110px;
}
.post-container h2{
    text-align: center;
}
.post-container p{
    text-align: center;
}

.comments-container h2{
    text-align: left;
}
.comments-title{
    margin: 50px 0 30px;
    font-size: 18px;
}
.comment{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(242, 238, 245);
    margin-bottom: 30px;
    padding: 10px;;
    display: flex;
    align-items: center;
}

.comment h3{
    color: #000;
    font-size: 17px;
    text-align: left;
    margin-left: 22px;
}
.comment p{
    font-size: 18px;
    text-align: left;
    margin-left: 22px;
    color:#000;
}
.comment img{
    width: 85px;
}